* {
    box-sizing: border-box;
}

body {
    background: #ececec;
}

.container {
    background: white;
    max-width: 1024px;
    padding: 35px;
    border-radius: 10px; 
    margin: 4em auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "elec   water  gas"
    "camera camera wifi"
    "camera camera alarm";
}

@media all and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, max-content);
        grid-template-areas: 
        "elec"
        "water"
        "gas"
        "camera"
        "wifi"
        "alarm";
    }
    #dame {
        display: flex;
        flex-direction: column;
        justify-content: space-around   ; // tao khoang trang o giua
        align-items: center;
        padding: 0 10px;
        background: white;
        border-radius: 5px;
        .view {
            width: 100%;
            flex-basis: 18.75em;
            button {
                float: right;
                margin: 20px ; 
            }
        }     
    }
}

.item {
    width: 100%;
}

.alarm {
    grid-area: alarm;
   // background: orange;
}

.wifi {
    grid-area: wifi;
   // background: pink;
}

.liveCamera {
    grid-area: camera;
    .viewOver {
        display: flex;
        flex-direction: row;
        justify-content: space-around   ; // tao khoang trang o giua
        align-items: center;
        padding: 0 10px;
        background: #ececec;
        border-radius: 5px;
    }

    .view {   
        flex-basis: 33.750em;
        padding: 10px;
        margin: auto;
        p {
            margin-bottom: 5px;
        }
        .cam {
            width: 95%;
            height: 12em;
            background: #ccc;
            border-radius: 5px;
        }
        button {
        background: #2196F3;
        color: white;
        border-radius: 5px;
        margin: 20px 0;
        }
    }
  //  background: yellowgreen
}

.gas {
    grid-area: gas;
   // background: #2196F3;
}

.water {
    grid-area: water;
}

h3 {
    margin: 14px 0;
}

.electricity-title {
    background: #ececec;
    border-radius: 5px;
    > h1 {
        font-size: 50px;
        color: aquamarine;
        font-family: monospace;
        text-align: center;
        padding: 20px 0;
        margin: 0;
        span {
            color: grey;
            font-size: 20px;
        }
    }
}

.electricity-text {
    color: #444;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
    padding-left: 10px;
}

.electricity-item_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between; // tao khoang trang o giua
    align-items: center;
    padding: 0 15px;
}

p{
    font-family: monospace;
    font-size: 20px;
    font-weight: 700px;
    span {
        color: red;
        text-transform: uppercase;
        margin-left: 10px;
    }
}

.electricity {
    grid-area: elec;
   // max-width: 300px;
    /* h3 {
        margin: 14px 0;
    }

    &-title {
        background: white;
        border-radius: 5px;
        > h1 {
            font-size: 50px;
            color: aquamarine;
            font-family: monospace;
            text-align: center;
            padding: 20px 0;
            margin: 0;
            span {
                color: grey;
                font-size: 20px;
            }
        }
    }

    &-text {
        color: #444;
        font-size: 20px;
        font-weight: 700;
        font-family: monospace;
    }

    &-item_btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between; // tao khoang trang o giua
        align-items: center;
        padding: 0 15px;
    }

    p{
        font-family: monospace;
        font-size: 20px;
        font-weight: 700px;
        span {
            color: red;
            text-transform: uppercase;
            margin-left: 10px;
        }
    } */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }